/**
 * Font Definitions
 */

/*--------*/
/* Space Ranger Condensed */
@font-face {
    font-family: 'Space Ranger Condensed';
    src: url('/assets/fonts/SpaceRangerCondensed.woff2') format('woff2'),
        url('/assets/fonts/SpaceRangerCondensed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Roboto Mono (Regular) */
@font-face {
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
        url('/assets/fonts/RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Roboto Mono (Bold) */
@font-face {
    font-family: 'Roboto Mono';
    src: url('/assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
        url('/assets/fonts/RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Electrolize */
@font-face {
    font-family: 'Electrolize';
    src: url('/assets/fonts/Electrolize-Regular.woff2') format('woff2'),
        url('/assets/fonts/Electrolize-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Blinker */
@font-face {
    font-family: 'Blinker';
    src: url('/assets/fonts/Blinker-Regular.woff2') format('woff2'),
        url('/assets/fonts/Blinker-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Blinker (Bold)*/
@font-face {
    font-family: 'Blinker';
    src: url('/assets/fonts/Blinker-Bold.woff2') format('woff2'),
        url('/assets/fonts/Blinker-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
