doctype html
html
    head
        title Straw OBS
        link(rel="stylesheet", href="/static/fonts.css")
        link(rel="stylesheet", href=`/dist/default.bundle.css`)
        link(rel="shortcut icon", type="image/png", href="/assets/images/favicon.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        main#main-content
            block content

        block scripts
            - const devString = dev ? `?${Date.now()}` : '';
            script(src=`/dist/default.bundle.js${devString}`)
