- const dateString = `?${Date.now()}`;
doctype html
html
    head
        title Straw OBS
        link(rel="stylesheet", href=`/static/fonts.css?${dateString}`)
        link(rel="stylesheet", href=`/dist/default.bundle.css?${dateString}`)
        link(rel="shortcut icon", type="image/png", href="/assets/images/favicon.png")
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        main#main-content
            block content

        block scripts

            script(src=`/dist/default.bundle.js${dateString}`)
