/**
 * Scene Default
 */
@import '~style-utils';
$component-name: scene-default;

.#{$component-name} {
    position: relative;
    display: block;
    overflow: hidden;
    width: $scene-width-default;
    height: $scene-height-default;
}
