/**
 * Variables
 */

/**
 * Misc
 */
$site-images: 'http://localhost:3003/assets/images/';

/**
 * Colors
 */
$c-white: #fff;
$c-black: #000;

$c-light: #efefef;
$c-dark: #222;

/**
 * Sizes
 */
$scene-width-default: 1920px;
$scene-height-default: 1080px;
